function MazeGenerator.new 1
push constant 3
call Memory.alloc 1
pop pointer 0
call Game.getSeed 0
call Random.new 1
pop this 0
push constant 16
call Array.new 1
pop this 2
push constant 4
call Array.new 1
pop this 1
push constant 0
push this 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 1
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 1
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 1
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push pointer 0
return
function MazeGenerator.shuffleDirections 3
push argument 0
pop pointer 0
push constant 1
pop local 0
label WHILE_EXP0
push local 0
push constant 4
lt
not
if-goto WHILE_END0
push this 0
push constant 3
call Random.nextr 2
pop local 1
push constant 0
push this 1
add
pop pointer 1
push that 0
pop local 2
push constant 0
push this 1
add
push local 1
push this 1
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push this 1
add
push local 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function MazeGenerator.generate 0
push argument 0
pop pointer 0
push constant 0
push this 2
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 2
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 2
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 2
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push this 2
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push this 2
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push this 2
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push this 2
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push this 2
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push this 2
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push this 2
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push this 2
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push this 2
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push this 2
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push this 2
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push this 2
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push pointer 0
push constant 1
push constant 1
call MazeGenerator.carve 3
pop temp 0
push constant 14
push this 2
add
push constant 14
push this 2
add
pop pointer 1
push that 0
push constant 1
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 2
return
function MazeGenerator.clearBit 1
push argument 0
pop pointer 0
push constant 1
pop local 0
push constant 15
push argument 1
sub
pop argument 1
label WHILE_EXP0
push argument 1
push constant 0
gt
not
if-goto WHILE_END0
push local 0
push constant 2
call Math.multiply 2
pop local 0
push argument 1
push constant 1
sub
pop argument 1
goto WHILE_EXP0
label WHILE_END0
push local 0
not
pop local 0
push argument 2
push this 2
add
push argument 2
push this 2
add
pop pointer 1
push that 0
push local 0
and
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function MazeGenerator.carve 4
push argument 0
pop pointer 0
push pointer 0
push argument 1
push argument 2
call MazeGenerator.clearBit 3
pop temp 0
push pointer 0
call MazeGenerator.shuffleDirections 1
pop temp 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push constant 4
lt
not
if-goto WHILE_END0
push argument 1
pop local 2
push argument 2
pop local 3
push local 1
push this 1
add
pop pointer 1
push that 0
pop local 0
push local 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 3
push constant 1
sub
pop local 3
label IF_FALSE0
push local 0
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 3
push constant 1
add
pop local 3
label IF_FALSE1
push local 0
push constant 1
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 2
push constant 1
add
pop local 2
label IF_FALSE2
push local 0
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 2
push constant 1
sub
pop local 2
label IF_FALSE3
push pointer 0
push local 2
push local 3
call MazeGenerator.validTarget 3
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push pointer 0
push local 2
push local 3
call MazeGenerator.carve 3
pop temp 0
label IF_FALSE4
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function MazeGenerator.validTarget 1
push argument 0
pop pointer 0
push argument 1
push constant 14
gt
push argument 1
push constant 1
lt
or
push argument 2
push constant 14
gt
or
push argument 2
push constant 1
lt
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push constant 0
pop local 0
push this 2
push argument 1
push constant 1
add
push argument 2
call MazeUtil.wallAt 3
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
push constant 1
add
pop local 0
label IF_FALSE1
push this 2
push argument 1
push constant 1
sub
push argument 2
call MazeUtil.wallAt 3
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 0
push constant 1
add
pop local 0
label IF_FALSE2
push this 2
push argument 1
push argument 2
push constant 1
add
call MazeUtil.wallAt 3
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 0
push constant 1
add
pop local 0
label IF_FALSE3
push this 2
push argument 1
push argument 2
push constant 1
sub
call MazeUtil.wallAt 3
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 0
push constant 1
add
pop local 0
label IF_FALSE4
push local 0
push constant 3
eq
return
function MazeGenerator.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push this 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
