function BitmapProvider.getNumber 0
push argument 0
push constant 8
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
call Sys.error 1
pop temp 0
label IF_FALSE0
push argument 0
push static 0
add
pop pointer 1
push that 0
return
function BitmapProvider.getFlag 0
push static 1
return
function BitmapProvider.getMine 0
push static 2
return
function BitmapProvider.getQuestion 0
push static 3
return
function BitmapProvider.getFocus 0
push static 4
return
function BitmapProvider.drawAt 2
push argument 0
push constant 16
call Math.divide 2
push constant 16
call Math.multiply 2
pop argument 0
push argument 1
push constant 16
call Math.divide 2
push constant 16
call Math.multiply 2
pop argument 1
push argument 0
push constant 240
gt
push argument 1
push constant 496
gt
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 2
call Sys.error 1
pop temp 0
label IF_FALSE0
push constant 16384
push constant 32
push argument 0
call Math.multiply 2
push argument 1
push constant 16
call Math.divide 2
add
add
pop local 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push constant 16
lt
not
if-goto WHILE_END0
push local 0
push constant 32
push local 1
call Math.multiply 2
add
push local 1
push argument 2
add
pop pointer 1
push that 0
call Memory.poke 2
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function BitmapProvider.init 2
push constant 9
call Array.new 1
pop static 0
push constant 0
push static 0
add
push constant 16
call Array.new 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
call Array.new 1
pop local 1
push constant 2
push local 1
add
push constant 384
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 1
add
push constant 448
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 1
add
push constant 480
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 1
add
push constant 496
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push local 1
add
push constant 384
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push local 1
add
push constant 384
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push local 1
add
push constant 384
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push local 1
add
push constant 384
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push local 1
add
push constant 384
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push local 1
add
push constant 384
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push local 1
add
push constant 16380
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push local 1
add
push constant 16380
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 0
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
call Array.new 1
pop local 1
push constant 2
push local 1
add
push constant 4080
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 1
add
push constant 8184
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 1
add
push constant 6168
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 1
add
push constant 7168
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push local 1
add
push constant 3584
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push local 1
add
push constant 1792
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push local 1
add
push constant 896
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push local 1
add
push constant 448
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push local 1
add
push constant 224
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push local 1
add
push constant 112
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push local 1
add
push constant 8184
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push local 1
add
push constant 8184
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push static 0
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
call Array.new 1
pop local 1
push constant 2
push local 1
add
push constant 8184
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 1
add
push constant 8184
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 1
add
push constant 6144
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 1
add
push constant 6144
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push local 1
add
push constant 6144
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push local 1
add
push constant 8184
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push local 1
add
push constant 8184
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push local 1
add
push constant 6144
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push local 1
add
push constant 6144
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push local 1
add
push constant 6144
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push local 1
add
push constant 8184
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push local 1
add
push constant 8184
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push static 0
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
call Array.new 1
pop local 1
push constant 2
push local 1
add
push constant 6168
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 1
add
push constant 6168
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 1
add
push constant 6168
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 1
add
push constant 6168
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push local 1
add
push constant 6168
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push local 1
add
push constant 8184
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push local 1
add
push constant 8184
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push local 1
add
push constant 6144
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push local 1
add
push constant 6144
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push local 1
add
push constant 6144
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push local 1
add
push constant 6144
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push local 1
add
push constant 6144
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push static 0
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
call Array.new 1
pop local 1
push constant 2
push local 1
add
push constant 8184
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 1
add
push constant 8184
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 1
add
push constant 24
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 1
add
push constant 24
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push local 1
add
push constant 24
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push local 1
add
push constant 8184
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push local 1
add
push constant 8184
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push local 1
add
push constant 6144
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push local 1
add
push constant 6144
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push local 1
add
push constant 6144
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push local 1
add
push constant 8184
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push local 1
add
push constant 8184
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push static 0
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
call Array.new 1
pop local 1
push constant 2
push local 1
add
push constant 8184
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 1
add
push constant 8184
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 1
add
push constant 24
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 1
add
push constant 24
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push local 1
add
push constant 24
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push local 1
add
push constant 8184
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push local 1
add
push constant 8184
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push local 1
add
push constant 6168
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push local 1
add
push constant 6168
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push local 1
add
push constant 6168
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push local 1
add
push constant 8184
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push local 1
add
push constant 8184
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push static 0
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
call Array.new 1
pop local 1
push constant 2
push local 1
add
push constant 8184
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 1
add
push constant 8184
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 1
add
push constant 6144
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 1
add
push constant 6144
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push local 1
add
push constant 7168
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push local 1
add
push constant 3584
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push local 1
add
push constant 1792
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push local 1
add
push constant 896
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push local 1
add
push constant 384
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push local 1
add
push constant 384
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push local 1
add
push constant 384
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push local 1
add
push constant 384
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push static 0
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
call Array.new 1
pop local 1
push constant 2
push local 1
add
push constant 2016
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 1
add
push constant 2016
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 1
add
push constant 6168
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 1
add
push constant 6168
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push local 1
add
push constant 6168
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push local 1
add
push constant 2016
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push local 1
add
push constant 2016
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push local 1
add
push constant 6168
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push local 1
add
push constant 6168
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push local 1
add
push constant 6168
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push local 1
add
push constant 2016
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push local 1
add
push constant 2016
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push static 0
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
call Array.new 1
pop static 1
push constant 2
push static 1
add
push constant 112
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push static 1
add
push constant 176
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push static 1
add
push constant 304
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push static 1
add
push constant 560
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push static 1
add
push constant 1072
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push static 1
add
push constant 2096
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push static 1
add
push constant 8176
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push static 1
add
push constant 48
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push static 1
add
push constant 48
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push static 1
add
push constant 48
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push static 1
add
push constant 48
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push static 1
add
push constant 120
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
call Array.new 1
pop static 2
push constant 2
push static 2
add
push constant 384
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push static 2
add
push constant 6552
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push static 2
add
push constant 8184
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push static 2
add
push constant 4080
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push static 2
add
push constant 4080
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push static 2
add
push constant 16380
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push static 2
add
push constant 16380
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push static 2
add
push constant 4080
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push static 2
add
push constant 4080
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push static 2
add
push constant 8184
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push static 2
add
push constant 6552
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push static 2
add
push constant 384
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
call Array.new 1
pop static 3
push constant 2
push static 3
add
push constant 2016
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push static 3
add
push constant 4080
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push static 3
add
push constant 7224
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push static 3
add
push constant 7192
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push static 3
add
push constant 3584
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push static 3
add
push constant 1792
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push static 3
add
push constant 896
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push static 3
add
push constant 384
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push static 3
add
push constant 384
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push static 3
add
push constant 384
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push static 3
add
push constant 384
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
call Array.new 1
pop static 4
push constant 0
push static 4
add
push constant 2016
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 4
add
push constant 960
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push static 4
add
push constant 384
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push static 4
add
push constant 32767
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push static 4
add
push constant 16381
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push static 4
add
push constant 8185
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push static 4
add
push constant 8185
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push static 4
add
push constant 16381
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push static 4
add
push constant 32767
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push static 4
add
push constant 384
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push static 4
add
push constant 960
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push static 4
add
push constant 2016
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
