function MineBlock.new 0
push constant 7
call Memory.alloc 1
pop pointer 0
push argument 0
push constant 16
call Math.divide 2
push constant 16
call Math.multiply 2
pop this 0
push argument 1
push constant 16
call Math.divide 2
push constant 16
call Math.multiply 2
pop this 1
push argument 2
pop this 2
push constant 0
pop this 3
push constant 0
pop this 4
push constant 0
pop this 5
push constant 0
pop this 6
push this 2
push constant 8
gt
push this 0
push constant 240
gt
or
push this 1
push constant 496
gt
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 3
call Sys.error 1
pop temp 0
label IF_FALSE0
push pointer 0
return
function MineBlock.getNumber 0
push argument 0
pop pointer 0
push this 2
return
function MineBlock.setNumber 0
push argument 0
pop pointer 0
push argument 1
push constant 8
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 4
call Sys.error 1
pop temp 0
label IF_FALSE0
push argument 1
pop this 2
push constant 0
return
function MineBlock.isMine 0
push argument 0
pop pointer 0
push this 5
return
function MineBlock.setMine 0
push argument 0
pop pointer 0
push argument 1
pop this 5
push constant 0
return
function MineBlock.setFocus 0
push argument 0
pop pointer 0
push argument 1
pop this 6
push constant 0
return
function MineBlock.isVisible 0
push argument 0
pop pointer 0
push this 3
return
function MineBlock.setVisible 0
push argument 0
pop pointer 0
push constant 0
pop this 4
push constant 0
not
pop this 3
push constant 0
return
function MineBlock.isFlag 0
push argument 0
pop pointer 0
push this 4
return
function MineBlock.flipFlag 0
push argument 0
pop pointer 0
push this 3
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop this 4
push constant 0
return
label IF_FALSE0
push this 4
not
pop this 4
push constant 0
return
function MineBlock.draw 1
push argument 0
pop pointer 0
push this 3
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 4
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
call BitmapProvider.getFlag 0
pop local 0
goto IF_END1
label IF_FALSE1
call BitmapProvider.getQuestion 0
pop local 0
label IF_END1
push this 0
push this 1
push local 0
call BitmapProvider.drawAt 3
pop temp 0
goto IF_END0
label IF_FALSE0
push this 5
push this 2
push constant 0
gt
or
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 5
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
call BitmapProvider.getMine 0
pop local 0
goto IF_END3
label IF_FALSE3
push this 2
call BitmapProvider.getNumber 1
pop local 0
label IF_END3
push this 0
push this 1
push local 0
call BitmapProvider.drawAt 3
pop temp 0
label IF_FALSE2
label IF_END0
push this 6
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 1
push this 0
push this 1
push constant 15
add
push this 0
push constant 1
add
call Screen.drawRectangle 4
pop temp 0
push this 1
push this 0
push constant 14
add
push this 1
push constant 15
add
push this 0
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push this 1
push this 0
push this 1
push constant 1
add
push this 0
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push this 1
push constant 14
add
push this 0
push this 1
push constant 15
add
push this 0
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE4
push constant 0
return
