function InsertXO.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push pointer 0
return
function InsertXO.drawSym 0
push argument 0
pop pointer 0
push argument 1
pop this 1
push this 0
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call InsertXO.insertCross 1
pop temp 0
push constant 0
return
label IF_FALSE0
push this 0
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call InsertXO.insertCircle 1
pop temp 0
push constant 0
return
label IF_FALSE1
push constant 0
return
function InsertXO.insertCross 0
push argument 0
pop pointer 0
push this 1
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 158
push constant 38
push constant 218
push constant 98
call Screen.drawLine 4
pop temp 0
push constant 159
push constant 38
push constant 219
push constant 98
call Screen.drawLine 4
pop temp 0
push constant 160
push constant 38
push constant 220
push constant 98
call Screen.drawLine 4
pop temp 0
push constant 161
push constant 38
push constant 221
push constant 98
call Screen.drawLine 4
pop temp 0
push constant 159
push constant 98
push constant 219
push constant 38
call Screen.drawLine 4
pop temp 0
push constant 160
push constant 98
push constant 220
push constant 38
call Screen.drawLine 4
pop temp 0
push constant 161
push constant 98
push constant 221
push constant 38
call Screen.drawLine 4
pop temp 0
push constant 162
push constant 98
push constant 222
push constant 38
call Screen.drawLine 4
pop temp 0
goto IF_END0
label IF_FALSE0
push this 1
push constant 3
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 158
push constant 110
push constant 218
push constant 170
call Screen.drawLine 4
pop temp 0
push constant 159
push constant 110
push constant 219
push constant 170
call Screen.drawLine 4
pop temp 0
push constant 160
push constant 110
push constant 220
push constant 170
call Screen.drawLine 4
pop temp 0
push constant 161
push constant 110
push constant 221
push constant 170
call Screen.drawLine 4
pop temp 0
push constant 159
push constant 170
push constant 219
push constant 110
call Screen.drawLine 4
pop temp 0
push constant 160
push constant 170
push constant 220
push constant 110
call Screen.drawLine 4
pop temp 0
push constant 161
push constant 170
push constant 221
push constant 110
call Screen.drawLine 4
pop temp 0
push constant 162
push constant 170
push constant 222
push constant 110
call Screen.drawLine 4
pop temp 0
goto IF_END1
label IF_FALSE1
push this 1
push constant 6
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 158
push constant 180
push constant 218
push constant 240
call Screen.drawLine 4
pop temp 0
push constant 159
push constant 180
push constant 219
push constant 240
call Screen.drawLine 4
pop temp 0
push constant 160
push constant 180
push constant 220
push constant 240
call Screen.drawLine 4
pop temp 0
push constant 161
push constant 180
push constant 221
push constant 240
call Screen.drawLine 4
pop temp 0
push constant 159
push constant 240
push constant 219
push constant 180
call Screen.drawLine 4
pop temp 0
push constant 160
push constant 240
push constant 220
push constant 180
call Screen.drawLine 4
pop temp 0
push constant 161
push constant 240
push constant 221
push constant 180
call Screen.drawLine 4
pop temp 0
push constant 162
push constant 240
push constant 222
push constant 180
call Screen.drawLine 4
pop temp 0
goto IF_END2
label IF_FALSE2
push this 1
push constant 1
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 288
push constant 38
push constant 348
push constant 98
call Screen.drawLine 4
pop temp 0
push constant 289
push constant 38
push constant 349
push constant 98
call Screen.drawLine 4
pop temp 0
push constant 290
push constant 38
push constant 350
push constant 98
call Screen.drawLine 4
pop temp 0
push constant 291
push constant 38
push constant 351
push constant 98
call Screen.drawLine 4
pop temp 0
push constant 288
push constant 98
push constant 348
push constant 38
call Screen.drawLine 4
pop temp 0
push constant 289
push constant 98
push constant 349
push constant 38
call Screen.drawLine 4
pop temp 0
push constant 290
push constant 98
push constant 350
push constant 38
call Screen.drawLine 4
pop temp 0
push constant 291
push constant 98
push constant 351
push constant 38
call Screen.drawLine 4
pop temp 0
goto IF_END3
label IF_FALSE3
push this 1
push constant 4
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 288
push constant 110
push constant 348
push constant 170
call Screen.drawLine 4
pop temp 0
push constant 289
push constant 110
push constant 349
push constant 170
call Screen.drawLine 4
pop temp 0
push constant 290
push constant 110
push constant 350
push constant 170
call Screen.drawLine 4
pop temp 0
push constant 291
push constant 110
push constant 351
push constant 170
call Screen.drawLine 4
pop temp 0
push constant 288
push constant 170
push constant 348
push constant 110
call Screen.drawLine 4
pop temp 0
push constant 289
push constant 170
push constant 349
push constant 110
call Screen.drawLine 4
pop temp 0
push constant 290
push constant 170
push constant 350
push constant 110
call Screen.drawLine 4
pop temp 0
push constant 291
push constant 170
push constant 351
push constant 110
call Screen.drawLine 4
pop temp 0
goto IF_END4
label IF_FALSE4
push this 1
push constant 7
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 288
push constant 180
push constant 348
push constant 240
call Screen.drawLine 4
pop temp 0
push constant 289
push constant 180
push constant 349
push constant 240
call Screen.drawLine 4
pop temp 0
push constant 290
push constant 180
push constant 350
push constant 240
call Screen.drawLine 4
pop temp 0
push constant 291
push constant 180
push constant 351
push constant 240
call Screen.drawLine 4
pop temp 0
push constant 288
push constant 240
push constant 348
push constant 180
call Screen.drawLine 4
pop temp 0
push constant 289
push constant 240
push constant 349
push constant 180
call Screen.drawLine 4
pop temp 0
push constant 290
push constant 240
push constant 350
push constant 180
call Screen.drawLine 4
pop temp 0
push constant 291
push constant 240
push constant 351
push constant 180
call Screen.drawLine 4
pop temp 0
goto IF_END5
label IF_FALSE5
push this 1
push constant 2
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 416
push constant 38
push constant 476
push constant 98
call Screen.drawLine 4
pop temp 0
push constant 417
push constant 38
push constant 477
push constant 98
call Screen.drawLine 4
pop temp 0
push constant 418
push constant 38
push constant 478
push constant 98
call Screen.drawLine 4
pop temp 0
push constant 419
push constant 38
push constant 479
push constant 98
call Screen.drawLine 4
pop temp 0
push constant 416
push constant 98
push constant 476
push constant 38
call Screen.drawLine 4
pop temp 0
push constant 417
push constant 98
push constant 477
push constant 38
call Screen.drawLine 4
pop temp 0
push constant 418
push constant 98
push constant 478
push constant 38
call Screen.drawLine 4
pop temp 0
push constant 419
push constant 98
push constant 479
push constant 38
call Screen.drawLine 4
pop temp 0
goto IF_END6
label IF_FALSE6
push this 1
push constant 5
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 416
push constant 110
push constant 476
push constant 170
call Screen.drawLine 4
pop temp 0
push constant 417
push constant 110
push constant 477
push constant 170
call Screen.drawLine 4
pop temp 0
push constant 418
push constant 110
push constant 478
push constant 170
call Screen.drawLine 4
pop temp 0
push constant 419
push constant 110
push constant 479
push constant 170
call Screen.drawLine 4
pop temp 0
push constant 416
push constant 170
push constant 476
push constant 110
call Screen.drawLine 4
pop temp 0
push constant 417
push constant 170
push constant 477
push constant 110
call Screen.drawLine 4
pop temp 0
push constant 418
push constant 170
push constant 478
push constant 110
call Screen.drawLine 4
pop temp 0
push constant 419
push constant 170
push constant 479
push constant 110
call Screen.drawLine 4
pop temp 0
goto IF_END7
label IF_FALSE7
push this 1
push constant 8
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push constant 416
push constant 180
push constant 476
push constant 240
call Screen.drawLine 4
pop temp 0
push constant 417
push constant 180
push constant 477
push constant 240
call Screen.drawLine 4
pop temp 0
push constant 418
push constant 180
push constant 478
push constant 240
call Screen.drawLine 4
pop temp 0
push constant 419
push constant 180
push constant 479
push constant 240
call Screen.drawLine 4
pop temp 0
push constant 416
push constant 240
push constant 476
push constant 180
call Screen.drawLine 4
pop temp 0
push constant 417
push constant 240
push constant 477
push constant 180
call Screen.drawLine 4
pop temp 0
push constant 418
push constant 240
push constant 478
push constant 180
call Screen.drawLine 4
pop temp 0
push constant 419
push constant 240
push constant 479
push constant 180
call Screen.drawLine 4
pop temp 0
label IF_FALSE8
label IF_END7
label IF_END6
label IF_END5
label IF_END4
label IF_END3
label IF_END2
label IF_END1
label IF_END0
push constant 0
return
function InsertXO.insertCircle 0
push argument 0
pop pointer 0
push this 1
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 190
push constant 68
push constant 30
call Screen.drawCircle 3
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 190
push constant 68
push constant 27
call Screen.drawCircle 3
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 190
push constant 68
call Screen.drawPixel 2
pop temp 0
goto IF_END0
label IF_FALSE0
push this 1
push constant 3
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 190
push constant 140
push constant 30
call Screen.drawCircle 3
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 190
push constant 140
push constant 27
call Screen.drawCircle 3
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 190
push constant 140
call Screen.drawPixel 2
pop temp 0
goto IF_END1
label IF_FALSE1
push this 1
push constant 6
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 190
push constant 210
push constant 30
call Screen.drawCircle 3
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 190
push constant 210
push constant 27
call Screen.drawCircle 3
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 190
push constant 210
call Screen.drawPixel 2
pop temp 0
goto IF_END2
label IF_FALSE2
push this 1
push constant 1
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 320
push constant 68
push constant 30
call Screen.drawCircle 3
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 320
push constant 68
push constant 27
call Screen.drawCircle 3
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 320
push constant 68
call Screen.drawPixel 2
pop temp 0
goto IF_END3
label IF_FALSE3
push this 1
push constant 4
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 320
push constant 140
push constant 30
call Screen.drawCircle 3
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 320
push constant 140
push constant 27
call Screen.drawCircle 3
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 320
push constant 140
call Screen.drawPixel 2
pop temp 0
goto IF_END4
label IF_FALSE4
push this 1
push constant 7
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 320
push constant 210
push constant 30
call Screen.drawCircle 3
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 320
push constant 210
push constant 27
call Screen.drawCircle 3
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 320
push constant 210
call Screen.drawPixel 2
pop temp 0
goto IF_END5
label IF_FALSE5
push this 1
push constant 2
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 448
push constant 68
push constant 30
call Screen.drawCircle 3
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 448
push constant 68
push constant 27
call Screen.drawCircle 3
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 448
push constant 68
call Screen.drawPixel 2
pop temp 0
goto IF_END6
label IF_FALSE6
push this 1
push constant 5
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 448
push constant 140
push constant 30
call Screen.drawCircle 3
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 448
push constant 140
push constant 27
call Screen.drawCircle 3
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 448
push constant 140
call Screen.drawPixel 2
pop temp 0
goto IF_END7
label IF_FALSE7
push this 1
push constant 8
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push constant 448
push constant 210
push constant 30
call Screen.drawCircle 3
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 448
push constant 210
push constant 27
call Screen.drawCircle 3
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 448
push constant 210
call Screen.drawPixel 2
pop temp 0
label IF_FALSE8
label IF_END7
label IF_END6
label IF_END5
label IF_END4
label IF_END3
label IF_END2
label IF_END1
label IF_END0
push constant 0
return
function InsertXO.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
