function Alien.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
push pointer 0
call Alien.drawAlien 1
pop temp 0
push pointer 0
return
function Alien.dispose 0
push argument 0
pop pointer 0
push constant 4
pop this 2
push this 0
push this 1
call Alien.drawDestroy 2
pop temp 0
push constant 50
call Sys.wait 1
pop temp 0
push this 0
push this 1
call Alien.eraseAlien 2
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Alien.getX 0
push argument 0
pop pointer 0
push this 0
return
function Alien.getY 0
push argument 0
pop pointer 0
push this 1
return
function Alien.getType 0
push argument 0
pop pointer 0
push this 2
return
function Alien.moveDown 0
push argument 0
pop pointer 0
push this 2
push constant 3
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push this 1
push constant 14
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push this 1
call Alien.eraseAlien 2
pop temp 0
push this 1
push constant 1
add
pop this 1
push pointer 0
call Alien.drawAlien 1
pop temp 0
push constant 0
not
return
goto IF_END1
label IF_FALSE1
push constant 0
return
label IF_END1
function Alien.moveLeft 0
push argument 0
pop pointer 0
push this 0
push constant 0
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push this 1
call Alien.eraseAlien 2
pop temp 0
push this 0
push constant 1
sub
pop this 0
push pointer 0
call Alien.drawAlien 1
pop temp 0
push constant 0
not
return
goto IF_END0
label IF_FALSE0
push constant 0
return
label IF_END0
function Alien.moveRight 0
push argument 0
pop pointer 0
push this 0
push constant 19
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push this 1
call Alien.eraseAlien 2
pop temp 0
push this 0
push constant 1
add
pop this 0
push pointer 0
call Alien.drawAlien 1
pop temp 0
push constant 0
not
return
goto IF_END0
label IF_FALSE0
push constant 0
return
label IF_END0
function Alien.drawAlien 0
push argument 0
pop pointer 0
push this 2
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push this 1
call Alien.drawAlienOne 2
pop temp 0
label IF_FALSE0
push this 2
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push this 1
call Alien.drawAlienTwo 2
pop temp 0
label IF_FALSE1
push this 2
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
push this 1
call Alien.drawAlienThree 2
pop temp 0
label IF_FALSE2
push this 2
push constant 3
gt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 0
push this 1
call Alien.eraseAlien 2
pop temp 0
label IF_FALSE3
push constant 0
return
function Alien.drawAlienOne 2
push argument 1
push constant 32
call Math.multiply 2
push constant 16
call Math.multiply 2
push argument 0
add
pop local 0
push constant 16384
push local 0
add
pop local 1
push local 1
push constant 24575
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push local 1
push constant 0
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 32
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 64
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 96
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 128
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 160
add
push constant 1041
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 192
add
push constant 545
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 224
add
push constant 2033
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 256
add
push constant 1489
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 288
add
push constant 4089
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 320
add
push constant 4645
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 352
add
push constant 2633
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 384
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 416
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 448
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Alien.drawAlienTwo 2
push argument 1
push constant 32
call Math.multiply 2
push constant 16
call Math.multiply 2
push argument 0
add
pop local 0
push constant 16384
push local 0
add
pop local 1
push local 1
push constant 24575
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push local 1
push constant 0
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 32
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 64
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 96
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 128
add
push constant 545
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 160
add
push constant 321
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 192
add
push constant 993
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 224
add
push constant 2033
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 256
add
push constant 1489
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 288
add
push constant 4089
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 320
add
push constant 6133
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 352
add
push constant 5141
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 384
add
push constant 4965
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 416
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 448
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Alien.drawAlienThree 2
push argument 1
push constant 32
call Math.multiply 2
push constant 16
call Math.multiply 2
push argument 0
add
pop local 0
push constant 16384
push local 0
add
pop local 1
push local 1
push constant 24575
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push local 1
push constant 0
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 32
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 64
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 96
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 128
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 160
add
push constant 897
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 192
add
push constant 4065
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 224
add
push constant 8177
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 256
add
push constant 14649
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 288
add
push constant 16377
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 320
add
push constant 3169
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 352
add
push constant 13209
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 384
add
push constant 16377
call Memory.poke 2
pop temp 0
push local 1
push constant 416
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 448
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Alien.eraseAlien 2
push argument 1
push constant 32
call Math.multiply 2
push constant 16
call Math.multiply 2
push argument 0
add
pop local 0
push constant 16384
push local 0
add
pop local 1
push local 1
push constant 24575
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push local 1
push constant 0
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 32
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 64
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 96
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 128
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 160
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 192
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 224
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 256
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 288
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 320
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 352
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 384
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 416
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 448
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Alien.drawDestroy 2
push argument 1
push constant 32
call Math.multiply 2
push constant 16
call Math.multiply 2
push argument 0
add
pop local 0
push constant 16384
push local 0
add
pop local 1
push local 1
push constant 24575
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push local 1
push constant 0
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 32
add
push constant 257
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 64
add
push constant 4753
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 96
add
push constant 2081
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 128
add
push constant 32765
call Memory.poke 2
pop temp 0
push local 1
push constant 160
add
push constant 16389
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 192
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 224
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 1
push constant 256
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 288
add
push constant 5
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 320
add
push constant 8195
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 352
add
push constant 16401
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 384
add
push constant 1353
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 416
add
push constant 2177
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 448
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
